@charset "utf-8";
/* CSS Document */


*{
	margin:0 auto;
	padding: 0;
	list-style: none;
	font-family: "맑은 고딕";
}
a{color: inherit; text-decoration: none;}
button{cursor: pointer;}
body, html{min-width: 960px;}
.all{width:100%;}
.wrap{width:960px;}
.clear{claer:both;position:inherit;}

#imgslide{
	margin-top: 10px;
	height: 400px;
}
.imgbox{
	position:relative;
	overflow: hidden;
	height: 400px;
	width: 960px;
	background-color: #000;
}
.slide{
	width:3000px;
    position:absolute;	
}
.slide li{
	display: inline;
	margin-right: -5px;
}
.imgbox>img{width:100%;position: absolute;transition: all 2s;}
