<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Book">
    <insert id="save" parameterType="book">
        insert into book_table(passengerAdult, passengerChild, passengerInfant, cabinClass, returnDate)
        values (#{passengerAdult}, #{passengerChild}, #{passengerInfant},
                #{cabinClass}, #{returnDate})
        <selectKey resultType="Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="findById" parameterType="Long" resultType="book">
        select *
        from book_table
        where id = #{bookId}
    </select>

    <insert id="passengerSave" parameterType="passenger">
        insert into passenger_table(passengerLastName, passengerFirstName, passengerGender, passengerBirthdate, bookId)
        values (#{passengerLastName}, #{passengerFirstName}, #{passengerGender},
        #{passengerBirthdate}, #{bookId})
    </insert>
</mapper>














